@media (max-width: 1400px) {
  body,
  html {
    font-size: 60%;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border {
    background-color: black;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 10px;
    display: block;
  }

  .gallery {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
  }

  .intro1 {
    color: black;
    background-color: white;
    text-align: center;
    padding: 10px 20px;
    text-align: justify;
  }

  .intro-header {
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
  }

  .intro {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 10px;
  }
}

@media (max-width: 1366px) {
  body,
  html {
    font-size: 55%;
  }
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
@media (max-width: 1000px) {
  body,
  html {
    font-size: 50%;
  }
}
@media (max-width: 800px) {
  body,
  html {
    font-size: 50%;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border {
    background-color: black;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 3px;
    display: block;
  }
}
