@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
::selection {
  color: #fff;
  background: black;
}

h2 {
  color: white;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  font-size: 3em;
}

section {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper {
  max-width: 1100px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery .image {
  padding: 7px;
  width: calc(100% / 3);
}
.gallery .image span {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery .image img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img {
  transform: scale(1.1);
}
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  margin: 0 5px;
}
.details .title p.current-img {
  font-weight: 500;
}
.details .icon {
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box {
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 60px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev {
  left: 0px;
}
.slide.next {
  right: 0px;
}
.image-box img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.45);
}

nav {
  line-height: 70px;
  background: rgb(0, 0, 0, 0.5);
  padding: 0 80px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
}

nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .navbar h3 {
  font-size: 1.8em;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: white;
  letter-spacing: 7px;
}

nav .navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

nav .navbar .nav-items li {
  list-style: none;
}

nav .navbar .nav-items li a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}

nav .navbar .nav-items li a:hover {
  color: #1abc9c;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  background: rgb(0, 0, 0, 0.5);
  z-index: -1;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: white;
  margin-right: 0;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
