* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

nav {
  line-height: 70px;
  background: rgb(0, 0, 0, 0.5);
  padding: 0 80px;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
}

nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .navbar h3 {
  font-size: 1.8em;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: white;
  letter-spacing: 7px;
}

nav .navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

nav .navbar .nav-items li {
  list-style: none;
}

nav .navbar .nav-items li a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}

nav .navbar .nav-items li a:hover {
  color: #1abc9c;
}

.vid1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  opacity: 75%;
}

.img1 {
  /* position: absolute; */
  /* margin-top: 50px;
  margin-left: 5%; */
  /* left: 60%; */
  width: 400px;
  height: 250px;
  /* object-fit: cover; */
  border-radius: 20px;
  opacity: 90%;
}

.flex {
  display: flex;
  justify-items: space-between;
  align-items: flex-start;
  margin-top: 5%;
  margin-left: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background: rgb(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  margin-left: 50px;
  margin-right: 200px;
}

.container h2 {
  color: white;
  font-size: 2em;
  font-weight: 700px;
  text-transform: uppercase;
  word-spacing: 7px;
  /* width: 70%; */
}

.p1,
.p2 {
  color: white;
  font-size: 1.1em;
  font-weight: 400px;
  /* width: 50%; */
  padding-top: 25px;
}

.p3 {
  color: white;
  font-size: 1.1em;
  font-weight: 400px;
  width: 50%;
  padding-bottom: 25px;
  /* padding-top: 20px; */
  margin-bottom: 20px;
}

.container a {
  color: black;
  font-size: 1.1em;
  font-style: bold;
  font-weight: 600px;
  background: white;
  padding: 10px 22px;
  text-decoration: none;
  transition: all 0.3s;
}

.container a:hover {
  color: white;
  background: #1abc9c;
}

.img2,
.img3,
.img4,
.img5 {
  width: 225px;
  border-radius: 20px;
  opacity: 90%;
}

/* 
.img2 {
  width: 60%;
  border-radius: 20px;
  opacity: 90%;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 40px;
}

.grid img,
.grid p {
  justify-self: center;
  align-self: center;
  margin-top: 20px;
  color: white;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: white;
  margin-right: 0;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
